.categories-and-latest div.column.categories,
.categories-and-top div.column.categories {
  margin-right: 0 !important;
}

.categories-and-latest,
.categories-and-top {
  display: grid;
  gap: 2em;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(
      #{$categories-page-column-count},
      minmax(0, 1fr)
    );
    grid-template-rows: minmax(0, auto);
  }

  > * {
    align-self: start;
  }

  > .column {
    grid-column: 1;
    grid-row: 3;
    @media screen and (min-width: 768px) {
      grid-column: #{$topics-column};
      grid-row: #{$topics-row};
    }
  }

  > .column.categories {
    grid-column: 1;
    grid-row: 1;
    @media screen and (min-width: 768px) {
      grid-column: #{$categories-column};
      grid-row: #{$categories-row};
    }
    @if $hide-categories-column == "true" {
      display: none;
    }
  }

  > .tag-column {
    grid-column: 1;
    grid-row: 2;
    @media screen and (min-width: 768px) {
      grid-column: #{$tags-column};
      grid-row: #{$tags-row};
    }
  }

  .table-extra-content {
    padding-top: 22px;
  }

  .more-topics {
    .pull-right {
      float: none !important;
    }
  }

  .more-tags {
    margin-top: 1em;
  }
}

.categories-tag-list {
  margin: 0;
  padding: 1em;
  li {
    padding-bottom: 10px;
    .discourse-tag-count {
      flex: 1 0 auto;
      margin-left: 0.33em;
    }
    .discourse-tag {
      flex: 0 1 auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
