{{#conditional-loading-spinner condition=isLoading}}

{{#if sortedTags}}
  <div aria-role="heading" aria-level="2" class="table-heading">
    Resource posts
  </div>
  <div class="table-extra-content">
    The following Forum threads will help you in exploring <a href="https://www.caregiving.com/resources">resources</a> in your local area and share messages with other caregivers in your community. 
  </div>
  <ul class="categories-tag-list">
    {{#each sortedTags as |t|}}
    <li><a href="/tag/{{t.id}}">{{t.id}}</a></li>
    {{/each}}
  </ul>
  {{#if moreTags}}
    <div class="more-tags">
      <a href="/tags" class="btn btn-default">{{i18n "more"}}</a>
    </div>
  {{/if}}
{{/if}}

{{/conditional-loading-spinner}}
